/* Global rules  */
* {
	border: none;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 14px;
	min-height: 10px;
}

window#waybar {
	background: none;
}

window#waybar.hidden {
	opacity: 0.2;
}

/* General module rules */
#custom-launcher,
#workspaces,
#clock,
#pulseaudio,
#cpu,
#memory,
#disk,
#temperature,
#taskbar,
#network,
#bluetooth,
#power-profiles-daemon,
#custom-power,
#language {
	color: #f1f1f1;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
}

#custom-launcher,
#disk,
#taskbar {
	margin-left: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* #pulseaudio, */
#custom-power,
#temperature,
#workspaces {
	margin-right: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* launcher */
#custom-launcher {
	background: #363062;
	color: #dcd7c9;
	font-size: 18px;
}

/* time/date */
#clock {
	background: rgba(34, 40, 49, 0.5);
	border-radius: 10px;
	font-weight: bold;
}

/*
=====================
cpu, mem, disk, temp
=====================
 */

#disk {
	background: #0a2647;
}

#memory {
	background: #144272;
}

#cpu {
	background: #205295;
}

#temperature {
	background: #2c74b3; /* cpu temp */
}

/*
============
workspaces
============
 */

#workspaces {
	background: #1b2430;
}

#workspaces button {
	background: transparent;
}

#workspaces button.active {
	color: #526d82;
}

/*
===========
pulseaudio
===========
 */

#pulseaudio {
	/* background: #816797; */
	background: #371b58;
}

#pulseaudio.muted {
	color: #a91079;
}

/* taskbar */
#taskbar {
	background: #5b4b8a;
}

#taskbar button:hover {
	background: #1b2430;
}

/* network, bluetooth  */
#network,
#bluetooth {
	background: #4c3575;
	color: #8ede97;
}

#bluetooth.off {
	color: #f44c4c;
}

#power-profiles-daemon {
	background: rgba(34, 40, 49, 0.5);
	border-radius: 10px;
	font-weight: bold;
	margin-left: 10px;
}

#custom-power {
	/* background: rgba(34, 40, 49, 0.5); */
	background: #363062;
	color: #dcd7c9;
}
