/* WOFI COLORS
'colors'-file imported in 'config'-file

--wofi-color0 bg
--wofi-color1 fg
--wofi-color2 fg-dim
--wofi-color3 fg-icon
--wofi-color4 dark
--wofi-color5 hover/hl
--wofi-color6 accent
--wofi-color7 border
--wofi-color8 crit
--wofi-color9 warn

usage {
	color: --wofi-color1
}
*/

* {
  all: unset;
  /* font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", monospace; */
  font-size: 14px;
  box-shadow: none;
  outline: none;
}

#window {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", monospace;
  margin: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

#outer-box {
  padding: 2px;
  border: 2px solid --wofi-color6;
  border-radius: 10px;
  background-color: --wofi-color0;
}

#inner-box {
  padding-left: 4px;
  padding-right: 4px;
}

#input {
  color: --wofi-color3;
  padding-left: 4px;
  padding-right: 4px;
}

#text {
  background-color: transparent;
  color: --wofi-color1;
}

#entry {
  background-color: transparent;
  color: --wofi-color1;
}

#entry:selected {
  background-color: --wofi-color6;
  border-radius: 5px;
  margin-left: 2px;
  padding: 3px;
}

#entry:selected #text {
  color: --wofi-color4;
}

/* #input { */
/*   margin: 4px 6px 8px 6px; */
/*   padding: 6px 8px; */
/*   border-radius: 10px; */
/*   background-color: --wofi-color4; */
/*   color: --wofi-color1; */
/* } */
